.hero__container {
    padding: 100px 0 50px;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.hero__text-container {
    max-width: 770px;
}

.hero__title {
    border: 1px solid white;
    max-width: 414px;
    padding: 0 10px;
    margin: 0;
    font-size: 35px;

}

.hero__sub-title {
    font-size: 35px;
    min-height: 105px;
}

.hero__description {
    font-size: 26px;
}

.hero__image {
    object-fit: cover;
    flex-shrink: 0;
}