button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  width: 156px;
}
button:hover {
  background-color: white;
  color: black;
}
button:focus,
button:focus-visible {
  background-color: white;
  color: black;
}

button:active {
  background-color: white;
  color: black;
}

.button:disabled {
  cursor: not-allowed;
}

.formButton {
  width: 200px;
    height: 41px;
    border: none;
    border-radius: 16px;
    margin: 0 auto;
    cursor: pointer;
}
