.portfolio {
  padding: 0 0 100px;
  position: relative;
}

.portfolio::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgb(249, 105, 14) 0%, rgb(102, 51, 153) 100%);
  border: 0px;
  height: 1px;
  width: 100%;
}

.portfolio__title {
  font-size: 80px;
  text-transform: uppercase;
}

.portfolio__swiper-title {
    font-size: 30px;
    margin: 0 0 10px;
}

.portfolio__image {
  width: 540px;
  height: 300px;
}

.swiper {
  padding: 0 0 50px;
}

.swiper-pagination {
  background-color: white;
  width: 130px;
  border-radius: 16px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 150px;
  margin: 0 auto;
  left: 50%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: black;
}


@media screen and (max-width: 1439px) {
  .portfolio__title {
    font-size: 55px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding: 0 0 50px;
  }
  .portfolio__title {
    font-size: 40px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 124px;
  margin: 0 auto;
  left: 30%;
}
}
