.skills {
    padding: 0 0 100px;
}
.skills__header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px;
  border: none;
  max-width: 1000px;
}

.skills__title {
  font-size: 80px;
  text-transform: uppercase;
}

.skills__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  justify-content: space-between;
  min-height: 220px;
}

.skills__item {
  font-size: 40px;
}

.skills__sub-title {
    font-size: 65px;
    margin: 40px 0 20px;
}

.skills__sub-list {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    align-items: center;
}

.skills__sub-item {
    width: 120px;
    height: auto;
}
