.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(207, 233, 254, 0.17);
  margin: 0 auto;
  padding: 0 50px 0 30px;
  border-radius: 0 0 30px 30px;
  min-height: 78px;
}

.header__text-wrapper {
  width: 264px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  width: 312px;
  justify-content: space-between;
}

.header__link {
  color: white;
}

.header__link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__text-wrapper {
  display: flex;
  flex-direction: column;
}

.header__heading,
.header__description {
  margin: 0;
}

.header__select {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0 5px;
}

.header__option {
  color: black;
  padding: 10px 0;
}
