.header {
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(207, 233, 254, 0.17);
  margin: 0 auto;
  padding: 0 50px;
  border-radius: 30px;
  min-height: 78px;
  position: fixed;
  top: 0;
  left: 100px;
  right: 100px;
  max-width: 1588px;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.header__container--hidden {
  transform: translateY(-100%);
}

.header__content {
  display: flex;
  width: 100%;
}

.header__burger-menu-title {
  display: none;
}

.header__text-wrapper {
  width: 264px;
}

.header__list {
  display: flex;
  gap: 30px;
  width: 472px;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  align-items: center;
}

.header__link {
  color: white;
  font-size: 22px;
}

.header__link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.header__group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__text-wrapper {
  display: flex;
  flex-direction: column;
}

.header__heading,
.header__description {
  margin: 0;
}

.header__select {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0 5px;
}

.header__option {
  color: black;
  padding: 10px 0;
}

.burger-menu {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.active {
  display: block;
}

@media screen and (max-width: 1439px) {
  .header {
    padding: 20px 0 0;
  }

  .header__container {
    flex-direction: column;
    max-width: 107px;
    min-height: 40px;
    margin: 0;
    padding: 0;
    align-items: start;
    left: 50px;
    background-color: rgb(65, 102, 154);
    transition: max-width 1s ease-in-out;
    margin-top: 10px;
  }

  .header__burger-menu-title {
    display: block;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 7px;
  }

  .header__container.open {
    max-width: 170px;
    padding: 0 20px;
    align-items: center;
  }

  .header__content {
    display: none;
  }

  .header__content.open {
    display: block;
  }

  .header__text-wrapper {
    width: 170px;
  }

  .header__heading {
    font-size: 16px;
    width: 170px;
  }

  .header__description {
    font-size: 9px;
  }

  .header__list {
    flex-direction: column;
    width: 150px;
    gap: 15px;
    padding: 20px 0;
  }

  .header__link {
    font-size: 14px;
  }

  .header__group {
    flex-direction: column;
    gap: 13px;
    padding: 0 0 20px;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    flex-direction: column;
    left: 15px;
  }

  .header__text-wrapper {
    max-width: 170px;
  }

  .header__heading {
    max-width: 170px;
    font-size: 12px;
  }

  .header__list {
    width: 125px;
  }

  .header__group {
    flex-direction: column;
  }
}
