.form {
    display: flex;
    flex-direction: column;
    width: 450px;
    text-align: start;
    max-width: 440px;
    gap: 10px;
}

.form__label {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 3px;
}

.form__input {
    height: 35px;
    border-radius: 16px;
    padding: 5px 5px 5px 10px;
}

.form__textarea { 
    max-width: 350px;
    height: 100px;
    border-radius: 16px;
    padding: 0;
    padding: 5px 5px 5px 10px;
}

.form__button:hover {
    border: 1px solid teal;
}