footer {
  padding: 0 0 50px;
}

.footer__container {
  min-height: 80px;
  color: rgb(7, 244, 244);
  background-color: rgba(207, 233, 254, 0.17);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  border-radius: 30px;
}

.footer__list {
  display: flex;
  gap: 30px;
  padding: 0;
}

.footer__link {
  color: white;
  font-size: 22px;
}

.footer__socials {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1439px) {

  .footer__container {
    padding: 0 20px;
  }

  .footer__list {
    gap: 20px;
    justify-content: center;
  }

  .footer__link {
    color: white;
    font-size: 14px;
  }

  .footer__copyright {
    font-size: 14px;
    width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    padding: 20px 0;
  }

  .footer__copyright {
    width: 140px;
  }
}