.contacts {
  padding: 0 0 100px;
}

.contacts__title {
  font-size: 80px;
  text-transform: uppercase;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 30px;
}

.contacts__description {
  text-align: start;
  margin: 0 0 20px;
}

.contacts__text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__link {
  color: rgb(131, 251, 159);
}

.contacts__link:hover {
  color: white;
}

.contacts__text-link {
  font-size: 25px;
}

@media screen and (max-width: 1439px) {
  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contacts__divider {
    margin: 0 auto;
    width: unset;
    height: unset;
  }

  .contacts__title {
    font-size: 55px;
  }

  .contacts__description {
    text-align: center;
  }

  .contacts__text-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts__container {
    gap: 10px;
  }
  .contacts__text-link {
    font-size: 12px;
  }

  .contacts__title {
    font-size: 40px;
  }
}
