#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  background-color: #0D1117;
  color: white;
  background: url('../src/img/background-new.jpg') repeat;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  padding: 0 100px;

  @media screen and (max-width: 1439px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 15px;
  }
}
